.divider:after,

body{
  background-color: rgb(36, 157, 227);
}
.form-outline{
  background-color: rgb(255, 255, 255);
}
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}